<div onclick="addJoint();">
  <i class="fa fa-plus"></i>
</div>
<div onclick="eraseJoint();">
  <i class="fa fa-trash"></i>
</div>
<div onclick="resetRotates();">
  <i class="fa fa-male"></i>
</div>
<div onclick="toggleJoints();">
  <i class="fa fa-eye-slash"></i>
</div>
<div onclick="toggleUp();">
  <i class="fa fa-retweet"></i>
</div>