<div class="list">
  <ul>
    <li class="dropdown" id="example-head" style="display:none;"></li>
    <li class="dropitems" id="example-list" style="display:none;">
      <ul>
      </ul>
    </li>
    <li id="example-item"></li>
  </ul>
</div>
<div class="form">
  <input type="hidden" id="object_selected">
  <div class="item" id="example-input-text" style="display:none;">
    <label></label><input type="text">
  </div>
  <div class="item" id="example-input-number" style="display:none;">
    <label></label><input type="number">
  </div>
  <div class="item" id="example-input-select" style="display:none;">
    <label></label><select></select>
  </div>
</div>