<div onclick="Window('window_add_object');">
  <i class="fa fa-plus"></i>
</div>
<div onclick="cloneObject();">
  <i class="fa fa-copy"></i>
</div>
<div onclick="eraseObject();">
  <i class="fa fa-trash"></i>
</div>