/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  margin:0px;
  background:#282828;
  overflow: hidden;
}
img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}
.header{
  position:absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height: 40px;
  background-color:#545255;
  border-top:#9a999a 1px solid;
  border-bottom:#2e2c2f 1px solid;
}
.header>a{
  text-decoration: none;
  padding: 13px;
  float:left;
  color:#fff;
  font-size:12px;
  font-family: Arial;
}
.header>a:hover{
  background: rgba(0,0,0,0.5);
}
.body{
  position: absolute;
  top:42px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.col-icons{
  width:40px;
  float: left;
  background-color:#545255;
  border-top:#9a999a 1px solid;
  border-right:#2e2c2f 1px solid;
  border-left:#2e2c2f 1px solid;
  text-align: center;
}
.col-icons>div{
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color:#fff;
}
.col-icons>div.active{
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color:#888;
  background: rgba(0,0,0,0.5);
}
.col-icons>div:hover{
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}
.col-body{
  float: left;
  overflow:auto;
}
.col-body-content{
  margin:auto;
  overflow: hidden;
  background: #ff0000;
}
.col-tiles{
  width:380px;
  float:left;
  background:#ff00ff;
  border-top:#9a999a 1px solid;
  border-left:#2e2c2f 1px solid;
  border-right:#2e2c2f 1px solid;
  overflow-x: hidden;
  overflow-y: auto;
}
.col-list-form{
  width:250px;
  float:left;
  background-color:#545255;
  border-top:#9a999a 1px solid;
  border-left:#2e2c2f 1px solid;
  border-right:#2e2c2f 1px solid;
  overflow: hidden;
}
.col-list-form>.list{
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #282828;
}
.col-list-form>.list>ul{
  width:100%;
  padding: 0px;
  margin: 0px;
}
.col-list-form>.list .item_tab{
  width:100%;
  padding: 3px;
  margin: 0px;
  padding-left: 10px;
  color: #fff;
  font-family: arial;
  font-size: 12px;
}
.col-list-form>.list .item_tab:hover{
  background-color: rgba(0,0,0,0.5);
}
.col-list-form>.list .item_tab.active{
  background-color: rgba(0,0,0,0.75);
}
.col-list-form>.list>ul>li.dropdown{
  width:100%;
  display:block;
  color:#fff;
  font-size: 12px;
  font-family: arial;
  padding: 10px;
  background: #4A4A4A;
}
.col-list-form>.list>ul>li.dropdown:hover{
  background: rgba(0,0,0,0.5);
  cursor: pointer;
}
.col-list-form>.list>ul>li.dropitems{
  width:100%;
  display:none;
  color:#fff;
  font-size: 12px;
  font-family: arial;
  background: rgba(0,0,0,0.25);
}
.col-list-form>.list>ul>li.dropitems>ul{
  width:100%;
  padding-left: 0px;
  margin: 0px;
}
.col-list-form>.list>ul>li.dropitems>ul>li{
  width:100%;
  display:block;
  color:#fff;
  font-size: 12px;
  font-family: arial;
  padding: 10px;
  padding-left: 30px;
}
.col-list-form>.list>ul>li.dropitems>ul>li.active{
  background: #416E38;
}
.col-list-form>.list>ul>li.dropitems>ul>li:hover{
  background: rgba(0,0,0,0.25);
  cursor: pointer;
}
.col-list-form>.form{
  width:100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.col-list-form>.form>.item{
  width:100%;
  padding:5px;
  padding-left: 10px;
}
.col-list-form>.form>.item>label{
  width: 50%;
  color:#fff;
  font-size: 12px;
  font-family: arial;
  display:inline;
}
.col-list-form>.form>.item>input{
  display:inline;
  width: 50%;
  height:15px;
  background: #282828;
  border:1px solid #2e2c2f;
  color:#fff;
  font-size: 12px;
  font-family: arial;
  margin-right: 20px;
  float: right;
}
.col-list-form>.form>.item>select{
  display:inline;
  width: 50%;
  height:17px;
  background: #282828;
  border:1px solid #2e2c2f;
  color:#fff;
  font-size: 12px;
  font-family: arial;
  margin-right: 20px;
  float: right;
}
.col-form{
  width:250px;
  float:left;
  background-color:#545255;
  border-top:#9a999a 1px solid;
  border-left:#2e2c2f 1px solid;
  border-right:#2e2c2f 1px solid;
  overflow-x: hidden;
  overflow-y: auto;
}
.col hr{
  border-top:#9a999a 1px solid;
  border-left:#2e2c2f 1px solid;
  border-right:#2e2c2f 1px solid;
  height: 1px;
  border-bottom: none;
}
.col form input:disabled{
  opacity: 0.5;
}
.col form select:disabled{
  opacity: 0.5;
}
.col form>.item{
  width:100%;
  padding:5px;
  padding-left: 10px;
}
.col form>.item>label{
  width: 50%;
  color:#fff;
  font-size: 12px;
  font-family: arial;
  display:inline;
}
.col form>.item>input{
  display:inline;
  width: 50%;
  height:15px;
  background: #282828;
  border:1px solid #2e2c2f;
  color:#fff;
  font-size: 12px;
  font-family: arial;
  margin-right: 20px;
  float: right;
}
.col form>.item>.group_inputs{
  margin-top: 5px;
}
.col form>.item>.group_inputs>label{
  width: 50%;
  color:#fff;
  font-size: 10px;
  font-family: arial;
  display:inline;
}
.col form>.item>.group_inputs>input, .col form>.item>.group_inputs>select{
  display:inline;
  width: 20%;
  height:15px;
  background: #282828;
  border:1px solid #2e2c2f;
  color:#fff;
  font-size: 12px;
  font-family: arial;
}
.col form>.item>.group_inputs_2>input, .col form>.item>.group_inputs_2>select{
  width: 30%;
}
.col form>.item>.group_inputs_3>input, .col form>.item>.group_inputs_3>select{
  width: 20%;
}
.col form>.item>.group_inputs_4>input, .col form>.item>.group_inputs_4>select{
  width: 37px;
}
.col form>.item>input[type="checkbox"]{
  width: 12px;
  height:12px;
  display:inline;
  float: none;
}
.col form>.item>input[type="color"]{
  width: 50%;
  height:20px;
  display:inline;
  float: none;
}
.col form>.item>select{
  display:inline;
  width: 50%;
  height:17px;
  background: #282828;
  border:1px solid #2e2c2f;
  color:#fff;
  font-size: 12px;
  font-family: arial;
  margin-right: 20px;
  float: right;
}
.grid_12{
  background-image: url(../assets/grid_12.png);
}
.notification{
  display: none;
  width:300px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  background: #545255;
  color:#fff;
  font-family: arial;
  font-size: 14px;
  padding:10px;
}
.window{
  width:600px;
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -300px;
  background: #282828;
  border: 3px #545255 solid;
  opacity: 0;
  display: none;
}
.window-header{
  width: 100%;
  background: #545255;
  color:#fff;
  font-family: arial;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.window-body{
  padding: 2px;
}
.window-scroll{
  width: 100%;
  max-height:200px;
  overflow: auto;
}
.window-row{
  width: 99%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.window-sep{
  width:100%;
  height: 1px;
  background: #545255;
  margin-top: 5px;
  margin-bottom: 5px;
}
.window-body,.window-scroll>table{
  width:100%;
}
.window-body,.window-scroll>table>thead{
  background: #545255;
  border-top:#9a999a 1px solid;
  color:#fff;
  font-family: arial;
  font-size: 12px;
}
.window-body,.window-scroll>table>tbody{
  color:#fff;
  font-family: arial;
  font-size: 12px;
}
.window-body,.window-scroll>table.selectable{
  border:none;
}
.window-body,.window-scroll>table.selectable>tbody>tr.active{
  background:rgba(0,0,0,0.75);
}
.window-body,.window-scroll>table.selectable>tbody>tr:hover{
  background:rgba(0,0,0,0.5);
  cursor: pointer;
}
button.btn{
  background: #000;
  color:#fff;
  font-size: 12px;
  font-family: arial;
  border:none;
  padding: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
}
button.btn.btn-success{
  background: #3D7C3E;
}
button.btn.btn-success:hover{
  background: #66B267;
}
button.btn.btn-default{
  background: #545454;
}
button.btn.btn-default:hover{
  background: #8B8B8B;
}
div::-webkit-scrollbar {
    width: 16px;
}
div::-webkit-scrollbar-track {
  background: #413f42;
}
div::-webkit-scrollbar-thumb {
    background: #7d7b7e;
}div::-webkit-scrollbar-corner {
    background: #413f42;
}